.container-create {
  width: 40%;
  margin: 2% auto;
  padding: 5%;
  background: white;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

.container-create .title-create {
  text-align: left;
  font-weight: bold;
  font-size: 50px;
}

.container-create .content-information-create {
  text-align: left;
  font-size: 15px;
}

.container-employer-create .button-form {
  border-radius: 50px;
  background: #1890ff;
  width: 30%;
}

.container-employer-view {
  width: 90%;
  margin: 5% auto;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  padding: 5%;
}

.container-employer-view .title-employer-view {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}
