.container-form-auth {
  display: flex;
}

.container-form-auth .color-one {
  flex: 1;
  height: 100vh;
  background: white;
}

.container-form-auth .color-two {
  flex: 1;
  height: 100vh;
  background: #1890ff;
}

.container-form {
  background: white;
  width: 60%;
  margin: 20% auto;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

.container-form .button-auth {
  border-radius: 10px;
  width: 50%;
  height: 40px;
}

.container-form .auth-title {
  font-size: 40px;
  font-weight: bold;
  padding-top: 2%;
  padding-bottom: 5%;
  text-align: left;
}

.container-form .auth-content-app {
  text-align: left;
  color: #8d93ab;
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 10%;

}

.container-form .input-form {
    border-radius: 10px;
    padding: 10px;
}

.container-form-auth .card-auth {
    position: absolute;
    width: 30%;
    top: 40%;
    left: 60%;
}

.container-form-auth .card-auth .card-info-title{
    font-weight: 400;
    padding-top: 2%;

}